{% extends "campeonatos/base.html" %}


{% block title %}
    Criar conta | LigaHub
{% endblock %}


{% block content %}


<div class="row justify-content-center">

    <div class="col-lg-6">


        <div class="mb-4">

            <h1 class="h3 fw-bold mb-1">
                Criar conta
            </h1>

            <p class="texto-secundario">
                Crie uma conta para organizar
                seus campeonatos no LigaHub.
            </p>

        </div>


        <div class="form-card">


            {% if form.non_field_errors %}

                <div class="alert alert-danger">

                    {{ form.non_field_errors }}

                </div>

            {% endif %}


            <form method="post">

                {% csrf_token %}


                {{ form.as_p }}


                <button
                    class="btn btn-ligahub w-100"
                    type="submit"
                >
                    Criar conta
                </button>

            </form>


            <hr>


            <p class="mb-0 text-center texto-secundario">

                Já possui uma conta?

                <a
                    href="{% url 'campeonatos:login' %}"
                >
                    Entrar
                </a>

            </p>


        </div>

    </div>

</div>


{% endblock %}