{% extends "campeonatos/base.html" %}


{% block title %}
    {{ titulo }} | LigaHub
{% endblock %}


{% block content %}


<div class="mb-4">

    <h1 class="h3 fw-bold mb-1">
        {{ titulo }}
    </h1>

    <p class="texto-secundario mb-0">
        Preencha as informações abaixo.
    </p>

</div>



<div class="form-card">


    {% if form.non_field_errors %}

        <div class="alert alert-danger">

            {{ form.non_field_errors }}

        </div>

    {% endif %}



    <form
        method="post"
        enctype="multipart/form-data"
    >

        {% csrf_token %}


        {{ form.as_p }}


        <div class="d-flex gap-2 mt-4">

            <button
                class="btn btn-ligahub"
                type="submit"
            >
                Salvar
            </button>


            <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="history.back()"
            >
                Voltar
            </button>

        </div>


    </form>

</div>


{% endblock %}