{% extends "campeonatos/base.html" %}


{% block title %}
    LigaHub
{% endblock %}


{% block content %}

<h1>LigaHub</h1>

<p>
    Sistema para gerenciamento de campeonatos
    futebolísticos no formato de pontos corridos.
</p>


<h2>Gerenciamento</h2>


<p>
    <a
        class="botao"
        href="{% url 'campeonatos:campeonato_listar' %}"
    >
        Campeonatos
    </a>

    <a
        class="botao"
        href="{% url 'campeonatos:time_listar' %}"
    >
        Times
    </a>

    <a
        class="botao"
        href="{% url 'campeonatos:pessoa_listar' %}"
    >
        Pessoas
    </a>
</p>


<p>
    <a
        class="botao"
        href="{% url 'campeonatos:estadio_listar' %}"
    >
        Estádios
    </a>

    <a
        class="botao"
        href="{% url 'campeonatos:elenco_listar' %}"
    >
        Elencos
    </a>
</p>


<p>
    <a
        class="botao"
        href="{% url 'campeonatos:inscricao_listar' %}"
    >
        Inscrições
    </a>

    <a
        class="botao"
        href="{% url 'campeonatos:partida_listar' %}"
    >
        Partidas
    </a>
</p>

{% endblock %}