{% extends "campeonatos/base.html" %}


{% block title %}
    Entrar | LigaHub
{% endblock %}


{% block content %}


<div class="row justify-content-center">

    <div class="col-lg-6">


        <div class="mb-4">

            <h1 class="h3 fw-bold mb-1">
                Entrar
            </h1>

            <p class="texto-secundario">
                Acesse sua conta para gerenciar
                seus campeonatos.
            </p>

        </div>


        <div class="form-card">


            {% if form.non_field_errors %}

                <div class="alert alert-danger">

                    {{ form.non_field_errors }}

                </div>

            {% endif %}


            <form method="post">

                {% csrf_token %}


                {{ form.as_p }}


                {% if next %}

                    <input
                        type="hidden"
                        name="next"
                        value="{{ next }}"
                    >

                {% endif %}


                <button
                    class="btn btn-ligahub w-100"
                    type="submit"
                >
                    Entrar
                </button>

            </form>


            <hr>


            <p class="mb-0 text-center texto-secundario">

                Ainda não possui uma conta?

                <a
                    href="{% url 'campeonatos:criar_conta' %}"
                >
                    Criar conta
                </a>

            </p>


        </div>

    </div>

</div>


{% endblock %}